body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
}

#listen-area {
    overflow: auto;
    height: 300px;
}

#app {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main-area {
    width: 100%;
    max-width: 600px;
}